
#intro {
    background: url(../assets/bkgd_img/checker.gif) repeat;
    position: relative;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-top: -12px;
    border-bottom: 1px solid #e8e7de;
  	z-index: 0;

  	p {
  		font-size: 22px;
  		line-height: 42px;
      color: #536168;
  	} // p

    a {
      text-decoration: none;
      } // a

      &:hover {
        text-decoration: underline;
      }

} // intro