
#intro {
    background: url(../assets/bkgd_img/checker.gif) repeat;
    position: relative;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-top: -12px;
    border-bottom: 1px solid #e8e7de;
  	z-index: 0;

    @media (max-width: 768px) {
      display: none;
    }

    .intro_container {
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      padding-left: 230px;
      padding-right: 50px;

      @media (max-width: 768px) {
        padding-left: 0px;
        padding-right: 0px;
      }

    	p {
    		font-size: 22px;
    		line-height: 42px;
        color: #536168;
    	

        a {
          text-decoration: none;
         
          &:hover {
            text-decoration: underline;

          } // a hover

        } // a

      } // p

    } // contianer

} // intro