@import "normalize";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #536168;
    text-shadow: none;
    color: white;
}

::selection {
    background: #536168;
    text-shadow: none;
    color: white;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --- grid import ------------------------------------------------------ */

@import "grid";

/* --- global stuff ----------------------------------------------------- */
html {
    height: 100%;
}

body {
    height: 100%;
    background: #f7f4ed url(../assets/bkgd_img/background_texture.gif);
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
}

.shell {
    width: 100% !important;
    height: 100% !important;
}

/* --- typography ------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 { 
    font-family: Arvo, serif;
    font-weight: 400;
    color: #344c57;
    text-shadow: 0px 1px 1px white;
}

h1 {
    font-size: 32px;
}

p {
    font-weight: 400;
    color: #73797b;
    text-shadow: 0px 1px 1px white;
    margin: 0 0 20px 0;
}

/* --- links -------------------------------------------------------------- */

a { 
    color: #344c57;
    font-style: italic;
    font-weight: 700;

    &:hover { text-decoration: none; }
    &:active { color: #73797b; }
 }

/* --- images --------------------------------------------------------------- */

img {
    width: 100%;
    height: auto;
}


/* --- Header ------------------------------------------------------------------ 
================================================================================ */

@import "header";


/* --- Hero Section ------------------------------------------------------------
================================================================================ */

@import "hero";


/* --- Giant Button ------------------------------------------------------------
================================================================================ */

@import "giant-btn";


/* --- Sections ----------------------------------------------------------------
================================================================================ */


/* --- intro ----------------------------------------------------------------- */

@import "intro";

/* --- general section module ------------------------------------------------- */

section {
    margin-bottom: 50px;
    margin-top: 25px;

    h1 {
        font-size: 26px;
        margin-bottom: 30px;
    }
}

.border {
    border-top: 1px solid #c1bba9;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-top: 10px;
    margin-bottom: 20px;
}










// google map section - work on this for fixed pos ipad

#map_canvas {
    height: 450px;
}


// back to top btn


.topBtn  {
        width: 70px;
        height: 70px;
        background: #d6d4ce;
        position: fixed;
        bottom: 0px;
        right: 0px;
        color: white;
        line-height: 30px;
        text-align: center;
        border-radius: 7px 0px 0px 0px;
        display: none;

        -webkit-transition: background 0.5s;
           -moz-transition: background 0.5s;
            -ms-transition: background 0.5s;
             -o-transition: background 0.5s;
                transition: background 0.5s;

        &:hover {
            background: #979790;
        }

        &:after {
            content: url(../assets/bkgd_img/upArrow.png);
            width: 35px;
            height: 25px;
            line-height: 80px;
        }
    }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}






/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
