@import "normalize";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #536168;
    text-shadow: none;
    color: white;
}

::selection {
    background: #536168;
    text-shadow: none;
    color: white;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --- grid import ------------------------------------------------------ */

@import "grid";

/* --- global stuff ----------------------------------------------------- */
html {
    height: 100%;
}

body {
    height: 100%;
    background: #f7f4ed url(../../assets/bkgd_img/background_texture.gif);
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
}

.shell {
    width: 100% !important;
    height: 100% !important;
}

/* --- typography ------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 { 
    font-family: Arvo, serif;
    font-weight: 400;
    color: #344c57;
    text-shadow: 0px 1px 1px white;
}

h1 {
    font-size: 32px;
}


p {
    font-weight: 400;
    color: #73797b;
    text-shadow: 0px 1px 1px white;
    margin: 0 0 20px 0;
}

p.large {
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 42px;
}

/* --- links -------------------------------------------------------------- */

a { 
    color: #344c57;
    font-style: italic;
    font-weight: 700;
     -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover { text-decoration: none; }
    &:active { color: #73797b; }
 }

/* --- images --------------------------------------------------------------- */

img {
    width: 100%;
    height: auto;
}


/* --- Header ------------------------------------------------------------------ 
================================================================================ */

@import "header";


/* --- Hero Section ------------------------------------------------------------
================================================================================ */

@import "hero";


/* --- Giant Button ------------------------------------------------------------
================================================================================ */

@import "giant-btn";


/* --- Sections ----------------------------------------------------------------
================================================================================ */

@import "icons";

/* --- intro ----------------------------------------------------------------- */

@import "intro";


/* --- general section module ------------------------------------------------- */

section {
    margin-bottom: 50px;
    margin-top: 25px;

    h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }
}

.border {
    border-top: 1px solid #e8e7de;
    border-bottom: 1px solid #e8e7de;
    margin-top: 10px;
    margin-bottom: 20px;
    background: url(../../assets/bkgd_img/checker.gif) repeat;
    padding-top: 40px;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.15), 0px 1px 0px rgba(255,255,255,0.1), 0px -1px 0px rgba(255,255,255,0.1);
}


/* --- info lists ------------------------------------------------------------- */

.info_mod {
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    border-radius: 7px;
    overflow: hidden;
   

    ul.info {
        margin: 0;
        padding: 0px;
        list-style: none;
        background: #e4e0d7;
        background: rgba(151,151,144,0.15);

        li {
            padding: 10px;
            margin: 0px;
            border-bottom: 1px solid rgba(151,151,144,0.4);;
        }

        li:first-child {
            border-bottom: none;
        }

         li:last-child {
            border-bottom: none;
        }

        li:nth-child(even) {
            background: white;
            background: rgba(255,255,255,0.8);

            p {
                color: #536168;
                padding: 3px 10px;
                margin: 0px;
            }
        }

        li:nth-child(odd) {
            
            p {
                color: #536168;
                padding: 3px 10px;
                margin: 0px;
            }
        }

        li.info_title {
            background: #344c57;

            h3 {
                color: #f1ebdc;
                font-size: 22px;
                text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
                margin: 0px;
                padding: 10px 10px;
            }
        }
    }

}


/* --- the tour ---------------------------------------------------------------- */

img.tour {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0px 0px 12px 0px;
    border: 10px solid #f2eee6;
    border: 10px solid transparent;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

img.spacing {
    margin-bottom: 25px;
}

img.tour-first {

    @media (max-width: 1165px) {
        margin-top: 40px;
    }
}

// pictureFill - Tour Section

.pictureFill_tour .small img, .pictureFill_tour .med img, .pictureFill_tour .large img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0px 0px 12px 0px;
    margin-bottom: 25px;
    border: 10px solid #f2eee6;
    border: 10px solid transparent;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.tour-first .small img, .tour-first .med img, .tour-first .large img {
    @media (max-width: 1165px) {
        margin-top: 40px;
    }
}


/* --- reservations ------------------------------------------------------------ */

a.bookings-link {
    text-decoration: none;
    font-style: normal;
}

.res_booking {
    margin-top: -2px; // for click btn state
    text-align: center;
    line-height: 122px;
    font-size: 42px;
    cursor: pointer;
    width: 100%;
    height: 132px; // add border size to 122px
    background: $yellow;
    border-bottom: 10px solid $edge;
    margin-bottom: 40px;
    z-index: 10;

    border-radius: 10px;

    -webkit-box-shadow: 0px 9px 0px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0px 9px 0px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0px 9px 0px rgba(0, 0, 0, 0.15);
         -o-box-shadow: 0px 9px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 9px 0px rgba(0, 0, 0, 0.15);



    &:hover {
        background: $yellow-hover;
    }

    &:active {
        margin-top: 0px;
        height: 128px;
        border-bottom: 6px solid $edge;
        margin-bottom: 42px;
        -webkit-box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.12);
           -moz-box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.12);
            -ms-box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.12);
             -o-box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.12);
                box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.12);
    }

    p {
        color: $text;
        font-size: 36px;
        font-family: Arvo, serif;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);

    } // p

} //res book


ul.callout {
    margin: 0px 0px 40px 0px;
    padding: 0px;
    list-style: none;

    li {
        margin-bottom: 0px;
    }
}

.callout_paragraph {
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}


.callout_phone {
    margin: 0px;
    color: $text;
    font-size: 22px;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
}


/* --- about ------------------------------------------------------------------- */

section#about a {
    text-decoration: none;
}

section#about a:hover {
    text-decoration: underline;
}


/* --- employ ------------------------------------------------------------------- */

a.employ {
    text-decoration: none;
    font-style: normal;
    &:hover {
        text-decoration: underline;
    }
}

a.app {
    color: #536168;
}

p.emp {
    margin-bottom: 8px;
}


// intro

h4.modalIntro {
    margin-bottom: 0px;
}




/* --- modals ------------------------------------------------------------------ */

.module {
    display: none;
    background: #f7f4ed url(../../assets/bkgd_img/background_texture.gif);
    padding: 20px;
    border: 3px solid #c1bba9;
    border-radius: 8px;
}

span.close  {
    position: absolute;
    top: 5px;
    right: -16px;
    width: 31px;
    height: 30px;
    cursor: pointer;
    background: url(../../assets/close-btn.png); 
}

.moduleDesktop {
   height: 700px;
}

.moduleMobile {
    width: 400px;
}

.moduleEmploy {
    width: 650px;

}

img.modalLogo {
    width: 343px;
    height: 113px;
}

/* --- submenu overlay feature -------------------------------------------------- */

@import "submenu-overlay-feature";


/* --- booking engine ---------------------------------------------------------- */

iframe {
    width: 900px;
    height: 100%;

    @media (max-width: 960px) {
        width: 650px;
    }
}




/* --- contact ----------------------------------------------------------------- */

ul.contact_info {
    margin: 0px 0px 40px 0px;
    padding: 0px;
    list-style: none;

    li {
        margin-bottom: 0px;
    }

    a {
        text-decoration: none;
        font-style: normal;
        font-size: 18px;

        &:hover {
            text-decoration: underline;

            .contact_details {
                font-size: 18px;
                margin: 0px 0px 5px 0px;

                i {
                   position: relative;
                   top: 0px;
                   -webkit-transition: 0.3s;
                   transition: 0.3s;
                }
            }
        }
    }

    a.google {
        font-size: 14px;
    }
}

.contact_label {
    margin: 0px 0px 7px 0px;
    padding-bottom: 4px;
    color: $text;
    font-size: 22px;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.15);
}


.contact_details {
    font-size: 18px;
    margin: 0px 0px 5px 0px;

    i {
       position: relative;
       top: 3px;
    }
}


// google map section - work on this for fixed pos ipad 

.map {
    height: 450px;
    border-top: 1px solid #c1bba9;

    @media (max-width: 575px) {
        height: 300px;
    }
}

#map_canvas {
    width: 100%;
    height: 100%;
}



// copyright section  

.copyright {
    background: #4d5b61;
    border-top: 2px solid #f1ebdc;

    @media (max-width: 768px) {
        text-align: center;
    }

    p {
        color: #f1ebdc;
        text-shadow: none;
        font-size: 14px;
        margin: 10px 0px;

        @media (max-width: 768px) {
            font-size: 14px;
        } // 768

        @media (max-width: 575px) {
            font-size: 10px;
        } // 575

    }
}


// back to top btn

@import "backtotop";


// mobile back to top btn

.sectionTop {
    display: none;
}


// royal slider css

@import "royalslider";



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 768px) {
   
   // header

   .mobile_header_wrap {
    position: relative;

        .mobile_sub_header {
            width: 100%;
            height: 60px;
            background: url(../../assets/mobile/sub_headTex.gif) repeat;
            border-bottom: 2px solid #e8e7de;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
            position: relative;
            top: -10px;
            z-index: 20;

            h1.mobile {
                color: #f1ebdc;
                text-shadow: 0px -1px 0px #133b49;
                font-size: 18px;
                margin: 0px;
                margin-left: -10px;
                padding: 0px;
                line-height: 65px;
                display: block;
            } //h2

             .navicon {
                background: url(../../assets/mobile/NewNavicon.png) no-repeat 0 0;
                width: 58px;
                height: 88px;
                position: absolute;
                right: 10px;
                top: -1px;
                cursor: pointer;
                -webkit-tap-highlight-color: rgba(0,0,0,0);


            } // navicon

        } // sub header

    
        .mobile_nav {
            width: 100%;
            position: absolute;
            top: 120px;
            background: url(../../assets/bkgd_img/checker.gif) repeat;
            border-bottom: 3px solid #73797b;
            box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
            z-index: 10;

            ul.mobile {
                display: block;
                margin-top: 28px;
                list-style: none;
                padding: 0px;

                li {
                    margin-bottom: 0px;
                    border-bottom: 1px solid #c1bba9;
                    padding-bottom: 18px;
                    padding-top: 18px;

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        text-decoration: none;
                        font-size: 18px;
                        text-shadow: 0px 1px 0px rgba(255,255,255,0.3)
                    }
                }

            }
        } // nav

        .mobile_nav.close {
            top: -410px;
             -webkit-transition: top 0.3s;
        }

         .mobile_nav.open {
            top: 30px;
            -webkit-transition: top 0.3s;
        }

   } // m_wrap


   // mobile back to top btn

    .sectionTop {
        display: block;
        background: #979790;
        border-radius: 5px;

        a.mobile_backTop {
            text-decoration: none;
            color: white;
            text-shadow: none;
            font-size: 14px;
            padding: 10px 20px;
            font-weight: 400;
            font-style: normal;
            
        }
    }




} // end 768


@media only screen and (max-width: 575px) {
   
  
   // header

   .mobile_header_wrap {
    position: relative;
        

        .mobile_sub_header {
            width: 100%;
            height: 60px;
            background: url(../../assets/mobile/sub_headTex.gif) repeat;
            border-bottom: 2px solid #e8e7de;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
            position: relative;
            top: -10px;
            z-index: 20;

            h1.mobile {
                color: #f1ebdc;
                text-shadow: 0px -1px 0px #133b49;
                font-size: 15px;
                margin: 0px;
                margin-left: -16px;
                padding: 0px;
                line-height: 64px;
                display: block;
            } //h2

        } // sub header

    
        .mobile_nav {
            width: 100%;
            position: absolute;
            top: 120px;
            background: url(../../assets/bkgd_img/checker.gif) repeat;
            border-bottom: 3px solid #73797b;
            box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
            z-index: 10;

            ul.mobile {
                display: block;
                margin-top: 20px;
                list-style: none;
                padding: 0px;

                li {
                    margin-bottom: 0px;
                    border-bottom: 1px solid #c1bba9;
                    padding-bottom: 18px;
                    padding-top: 18px;

                    &:last-child {
                        border-bottom: none;
                    }

                    a {
                        text-decoration: none;
                        font-size: 18px;
                        text-shadow: 0px 1px 0px rgba(255,255,255,0.3)
                    }
                }

            }
        } // nav

        

   } // m_wrap

   // mobile back to top btn

    .sectionTop {
        display: block;
        background: #979790;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        text-align: center;

        a.mobile_backTop {
            text-decoration: none;
            color: white;
            text-shadow: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 40px;
            font-style: normal; 
        }
    }



} // end 575


@media only screen and (max-width: 241px) {
   
  
   // header

   .mobile_header_wrap {
    position: relative;
        

        .mobile_sub_header {
            width: 100%;
            height: 60px;
            background: url(../../assets/mobile/sub_headTex.gif) repeat;
            border-bottom: 2px solid #e8e7de;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
            position: relative;
            top: -10px;
            z-index: 20;

            h1.mobile {
                color: #f1ebdc;
                text-shadow: 0px -1px 0px #133b49;
                font-size: 10px;
                margin: 0px;
                margin-left: -16px;
                padding: 0px;
                line-height: 64px;
                display: block;
            } //h2

        } // sub header

   } // m_wrap


} // end 575


@media only screen and (max-width: 1165px) {
    
    [class*='col-'] {
        width: 100%;
        padding-right: 0px;
    }

}


// retina

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */

}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
